{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0">

    <meta
        name="description"
        content="Desentupidora Chama Nóis - Desentupimento de pia, cano, caixa de esgoto, gordura, vazamentos e serviços em geral.">

    <title>
        {% block title %}
            Desentupidora Chama Nóis
        {% endblock %}
    </title>

    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
        rel="stylesheet">

    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <link
        rel="stylesheet"
        href="{% static 'css/style.css' %}">

    {% block extra_css %}
    {% endblock %}
</head>


<body>

    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}


    <main>
        {% block content %}
        {% endblock %}
    </main>


    {% block footer %}
        {% include 'footer.html' %}
    {% endblock %}


    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js">
    </script>

    {% block extra_js %}
    {% endblock %}

</body>

</html>